<% extend('../layouts/dashboard-layout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <% if (hasErrors) { %>
      <% for (var prop in messages) { %>
        <div class="alert alert-warning">
          <%- messages[prop] %>
        </div>
      <% } %>
    <% } %>

    <% if (articles === null) { %>
      <div class="alert alert-warning">
        目前沒有文章喔
      </div>
    <% } %>

    <div class="btn-group w-100">
      <a href="/dashboard/public" class="btn btn-outline-secondary w-100 rounded-0 <% if(state === 'public') { %><%= 'active' %><% } %>">已發佈</a>
      <a href="/dashboard/draft" class="btn btn-outline-secondary w-100 rounded-0 <% if(state === 'draft') { %><%= 'active' %><% } %>">草稿</a>
      <a href="/dashboard/article/create" class="btn btn-primary">新增文章</a>
    </div>

    <% for (var prop in articles) { %>
      <div class="card my-3">
        <h4 class="card-header"><%= articles[prop].title %></h4>
        <div class="card-body">
          <%- articles[prop].content %>
          <div>
            <span class="fa fa-clock-o"></span> 
            <%= moment(articles[prop].update_time*1000).format('YYYY/MM/DD'); %>
          </div>
        </div>
        <div class="card-footer p-0 btn-group">
          <a href="/dashboard/article/<%= articles[prop].id %>" class="btn btn-outline-secondary w-100 rounded-0">編輯</a>
          <a href="#" class="btn btn-outline-secondary w-100 rounded-0">預覽</a>
          <a href="#" class="btn btn-outline-secondary w-100 rounded-0">發表</a>
          <a href="#" class="btn btn-outline-secondary w-100 rounded-0">刪除</a>
        </div>
      </div>
    <% } %>
  </div>
</div>

<nav class="my-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>